# 🐍 Python
__pycache__/
*.py[cod]
*.so

# 📦 Виртуальное окружение
venv/
env/
ENV/

# 🗃️ База данных (локальная)
*.sqlite3
*.log

# 🛠️ Django
/media/
staticfiles/
db.sqlite3
celerybeat-schedule
*.pid

# 🔐 Переменные окружения и секреты
.env
.env.*

# 💻 PyCharm / IDE
.idea/
*.iml

# 🧠 VS Code (если используешь)
.vscode/

# 🧱 Node / JS frontend (если используешь React/Vue)
node_modules/
dist/
build/

# 🖥️ Системные файлы
.DS_Store
Thumbs.db
